--extra-index-url https://download.pytorch.org/whl/cpu
langchain==0.3.2
langchain-community==0.3.1
langgraph==0.2.25
fastapi==0.115.0
uvicorn==0.30.6
streamlit==1.39.0
python-dotenv==1.0.1
pydantic==2.9.2
requests==2.32.3
astrapy==1.5.2
cassio==0.1.7
sentence-transformers==3.0.1
torch>=2.3.0
pandas==2.2.2
numpy==1.26.4
scipy>=1.12,<1.14
